.userSignup_main{
    display: flex;
    background-color: #22aee9;
}
.usu_cta{
    background-color: white;
}
.usu_cta img{
    width: 50vw;
}
.signup_form{
    text-align: left;
   
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.signup_form p{
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    margin: 2%;
    width: 100%;
}
.signup_form input{
    width: 100%;
    padding: 2%;
    padding-left: 3%;
    border: none;
    border-radius: 22px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    outline: none;
    margin: 1%;
}
.signup_form input:focus{
  border: 2px solid green;
  animation: blink 1s;
  animation-iteration-count: 3;
}
.signup_form button{
    width: 50%;
    padding: 3%;
    margin: 1%;
    margin-top: 7%;
    border: none;
    border-radius: 22px;
    text-align: center;
    float: right;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;

}
.signup_form button:hover{
    cursor: pointer;
   
}



@keyframes blink { 50% { border-color:#fff ; }  }