.userSignup_main{
    height: 90vh;
    display: flex;
    align-items: center;
    
}
.usu_cta img{
    width: 40vw;

}
.usu_cta{
    text-align: center;
    flex: 0.5;
    padding-left: 5%;
    
}
.signup_form{
    flex: 0.5;
    padding: 2%;
     
    

}
.upload_img{
    text-align: center;
    display: block;
    
}
.upload_img img{
    width: 130px;
    height: 130px;
    border-radius:50% ;
}
.img_input input[type='file']{
    color: white;

}
.register_form{
    padding: 2%;
   
   
}
.register_form p{
    font-family: 'Smoolthan',sans-serif;
    padding: 1% 0;
}
.register_form input{
    padding: 1.5%;
    outline: none;
    width: 90%;
    border-radius: 12px;
    font-family: 'Smoolthan',sans-serif;
    border: 1px solid rgb(77, 72, 72);
}

.su_button img{
    width: 50px;
}
.su_button{
    margin-top: 2%;
}
.su_button button:hover{
    cursor: pointer;
}
.su_button button{
    background-color: #27b7e7;
    outline: none;
    border: none;
    padding: 1%;
    border-radius: 17px;
    box-shadow: -2px 4px 25px -7px rgba(0,0,0,0.5);


}